<ol reversed="reversed" class="grid gap-4 grid-cols-1">
    {% for post in postsList | reverse %}
        <li class="rounded overflow-hidden shadow-lg bg-gray-800">
            <a href="{{post.url | url}}" class="flex flex-col md:flex-row">
                <div>
                    <img src="{{post.data.hero.img.thumb | url}}" alt="" class="w-full object-cover" style="max-height: 16rem;">
                </div>
                <div class="p-4">
                    <h3 class="text-xl">{{post.data.title}}</h3>
                    <div class="mb-2">
                        <time class="text-xs" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                        <span class="text-xs">(approx.
                            {{post.data.readTime}}
                            min read)</span>
                    </div>
                    <p>{{post.data.description}}</p>
                </div>
            </a>
            {% for tag in post.data.tags %}
                {%- if collections.tagList.indexOf(tag) != -1 -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    {% tag tagUrl | url,
                    tag %}
                {%- endif -%}
            {% endfor %}
        </li>
    {% endfor %}
</ol>