.c-link-button {
    background: #5a277e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #6d20b9,
        #3f145c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #6d20b9,
        #3f145c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @apply inline-block rounded;
}

.c-link-button:active,
.c-link-button:focus,
.c-link-button:hover {
    @apply underline;
}
