.post h2,
.post h3,
.post h4,
.post em {
    color: #a86de2;
}

.post blockquote {
    @apply pl-8 py-2 mb-4 relative;
}

.post blockquote::before {
    @apply bottom-0 top-0 left-0 block absolute bg-purple-500;
    content: "";
    width: 0.5rem;
    height: 100%;
}

.post blockquote footer {
    @apply text-gray-100 mt-2 text-base;
}

.post ol,
.post ul {
    @apply pl-8 mb-4;
}

.post ol {
    @apply list-decimal;
}

.post ul {
    @apply list-disc;
}

.post ol li,
.post ul li {
    @apply mb-2;
}

.post table thead {
    @apply border-b-2 border-purple-500;
}
.post table th,
.post table td {
    @apply py-1 px-4;
}
.post table th {
    @apply pb-4;
}
.post table tr {
    @apply border-b border-gray-700;
}
.post table tr:first-of-type td {
    @apply pt-4;
}
