<!doctype html>
<html lang="en" class="w-full h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set rm = renderData.title or title or metadata.title %}
        <title>ryanmaffey.dev{% if rm !== "ryanmaffey.dev" %} - {{rm}}{%endif%}</title>
        <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/css/index.min.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-gray-900 w-full h-full">
        <div 
            class="grid min-h-full" 
            style="grid-template-rows: auto 1fr auto; grid-template-columns: 100%;"
        >
            <header>
                <nav 
                    class="flex items-center justify-between flex-wrap bg-gray-800 py-3"
                    x-data="{ menuOpen: false }"
                    x-init="() => { menuOpen = window.matchMedia('(min-width: 1024px)').matches; }"
                    x-on:resize.window="menuOpen = window.matchMedia('(min-width: 1024px)').matches;"
                >
                    <div class="container flex sm:content-between">
                        {# brand area #}
                        <div class="flex items-center flex-grow sm:flex-grow lg:flex-grow-0 lg:justify-between text-white mr-6">
                            <a href="/" class="flex">
                                {# TODO: optimise image #}
                                <img 
                                    src="/img/ryanmaffey.jpg" 
                                    alt="" 
                                    class="rounded-full mr-3" 
                                    style="width: 30px;"
                                />
                                <span class="text-xl tracking-tight">{{ metadata.title }}</span>
                            </a>
                        </div>
                        {# mobile menu button #}
                        <div class="lg:hidden">
                            <button class="flex items-center px-3 py-2 text-white" @click="menuOpen = true">
                                <svg 
                                    class="fill-current h-3 w-3" 
                                    viewBox="0 0 20 20" 
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <title>Menu</title>
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                                </svg>
                            </button>
                        </div>
                        {# desktop nav items #}
                        <div 
                            class="flex-grow hidden items-center lg:flex" 
                        >
                            <div class="text-sm lg:flex-grow">
                            {%- for entry in collections.all | eleventyNavigation %}
                                <a class="block lg:inline-block text-white mx-2 px-3 py-2{% if entry.url == page.url %} rounded bg-gray-900{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                            {%- endfor %}
                            </div>
                        </div>
                    </div>
                    {# mobile nav items #}
                    <div 
                        class="container flex mt-4 lg:hidden" 
                        x-show="menuOpen"
                        @click.away="menuOpen = false"
                    >
                        <div class="text-sm w-full">
                        {%- for entry in collections.all | eleventyNavigation %}
                            <a class="block mt-2 text-white px-3 py-2{% if entry.url == page.url %} rounded bg-gray-900{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                        {%- endfor %}
                        </div>
                    </div>
                </nav>
            </header>

            <main class="container text-white">
                {{ content | safe }}
            </main>
            
            <footer class="bg-gray-800 text-white py-4 mt-6">
                <div class="container text-center">
                    <section>
                        <ul>
                            <li class="mb-4">
                                {% link 'https://twitter.com/ryanmaffey?lang=en', 'Get in touch on Twitter (@ryanmaffey)', true %}
                            </li>
                        </ul>
                    </section>
                    <section>
                        <p>
                            {% set firstPostDate %}
                                {{(collections.posts | reverse | head(-1) | first).date.getFullYear()}}
                            {% endset %}

                            {% set latestPostDate %}
                                {{(collections.posts | head(-1) | first).date.getFullYear()}}
                            {% endset %}
                            
                            {% if latestPostDate > firstPostDate %}
                                &copy; {{firstPostDate.toString().trim()}}-{{latestPostDate.toString().trim()}}, Ryan Maffey.
                            {% else %}
                                &copy; {{firstPostDate.toString().trim()}}, Ryan Maffey.
                            {% endif %}
                        </p>
                    </section>
                </div>
            </footer>
        </div>
    </body>
</html>