---
layout: layouts/base.njk
---
<div class="container">
    <br>
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>

        {% include 'table-of-contents.njk' %}

        {{ content | safe }}
    </article>
</div>