@tailwind base;

html,
body,
#__next {
    @apply bg-gray-900 w-full h-full;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h1,
h2,
h3,
h4 {
    @apply mb-3 leading-tight relative py-2 font-bold;
    padding-left: 1.5rem;
}
#content h1::before,
#content h2::before,
#content h3::before,
#content h4::before {
    @apply bottom-0 top-0 left-0 block absolute bg-teal-500;
    content: "";
    width: 0.5rem;
}
p + h1,
p + h2,
p + h3,
p + h4 {
    @apply mt-6;
}
p + p {
    @apply mt-3;
}
pre {
    @apply rounded my-6;
    font-size: 0.8rem !important;
}

@tailwind components;
@tailwind utilities;

/**
 * Skip to content link.
 */

.skip-to-content-link {
    @apply absolute bg-gray-900 p-2;
    transform: translateY(-100%);
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}

/**
 * Table of contents.
 */

.toc a {
    @apply flex mb-2;
}

.toc li:last-of-type a {
    @apply flex mb-0;
}

.toc a:active,
.toc a:focus,
.toc a:hover {
    @apply text-teal-400;
}
